.container1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-image: url('../img/Main-Banner-Hotwater.png');
    background-size: cover;
    background-position: center;
}
.container1 img {
    width: 100%;
    height: 100%;
}
.mainHeading{
    height: 20vh;
    width: 70%;
    font-family: 'Futura', sans-serif;
    letter-spacing: 1px;
}
.mainHeading h2{
    font-size:35px;
    transition: .4s;
    color: #1a2741;
}
.mainHeading h1{
    font-size:35px;
    transition: .4s;
    color: #0fcc5b;
}
.mainHeading hr{
    border-top: solid 2px #1a2741;
    transition: .4s;
    width: 10%;
    height: 0px;
}
.btnMian {
    background-color: #0fcc5b;
    font-weight: 700;
    font-size: 10px;
    padding:5px 20px;
    color:white;
    border: none;
    border-radius: 50px;
    height: 45px;
    margin-top: 50px;
}
.mainHeading .links{
    width: 70%;
    text-align: left;
    font-size: calc(15px + .2vw);
}
@media only screen and (max-width:786px){
    .container1{
        height: 70vh;
    }
    .mainHeading{
        margin: 100px auto;
        width: 80%;
    }
    .mainHeading .links{
        text-align: right;
    }
    .mainHeading h1{
        font-size: 30px;
    }
}
@media only screen and (max-width:550px){
    .container1{
        height: 70vh;
    }
    .mainHeading h1{
        margin: 10px auto;
        font-size: 23px;
    }
    .btnMian {
        margin-top: 40px;
    }
    .mainHeading {
        margin-top: 20px ;
        height: 35vh;
    }
    
}
